:root {
    --color-neutral-darkest: #030a06;
    --color-neutral-lighter: #d9dad9;
    --color-white: #fff;
    --color-neutral-lightest: #f2f2f2;
    --color-neutral-light: #b3b5b4;
    --color-neutral: #818482;
    --color-neutral-dark: #4e5350;
    --color-neutral-darker: #1c221e;
    --color-emerald-lightest: #ebf8ed;
    --color-emerald-lighter: #d7f2db;
    --color-emerald-light: #75d281;
    --color-emerald: #3ac04c;
    --color-emerald-dark: #2e993c;
    --color-emerald-darker: #174c1e;
    --color-emerald-darkest: #113916;
    --color-error-red: #d64040;
    --opacity-transparent: rgba(255, 255, 255, 0);
    --font-family: "Fira Sans", sans-serif;
    --second-family: "Comfortaa", sans-serif;
}


.assortment {
    padding-top: 32px;
    padding-bottom: 32px;
    
}
.assortment-container {
min-width: 288px;
}

.assortment-title {
    margin-bottom: 32px;
    text-align: center;
    font-family: "Comfortaa", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.01em;

}
.assortment-list {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    flex-direction: row;
    gap: 40px;

}
.assortment-item {
    display: flex;
    flex-direction: column;

}

.assortment-list-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
    margin-top: 16px;
}
.centered-content {
    text-align: center;
    max-width: 288px;
    margin-bottom: 16px;

}
.assortment-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 8px;
    width: 100%;
    

}
.assortment-price-text {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.6;
    text-align: center;
     margin-top: auto;
}
.assortment-button {
    display: block;
    border: 1px solid #030a06;
    border-radius: 6px;
    padding: 8px 20px;
    width: 100%;
    height: 40px;
    margin-top: auto;
}
 
.portfolio-image {
border-radius: 32px;
}

@media only screen and (min-width: 768px) {
.assortment {
    padding-top: 64px;
    padding-bottom: 64px;
}
.centered-content {
    max-width: 340px;
 
}
.assortment-list{
    column-gap: 24px;
    row-gap: 48px;

}
.assortment-item {
      width: calc((100% - 24px) / 2);

  }
 
}
@media only screen and (min-width: 1440px) {


.assortment-list {
    column-gap: 24px;
    row-gap: 64px;
}
.centered-content {
max-width: 310px;
}
.assortment-text{
    text-align: center;
}

.assortment-item {
    width: calc((100% - 72px) / 4);

  }
}
.assortment-button:hover,
.assortment-button:focus {
opacity: 0.5;

outline: none;
}
.assortment-button:active {
color: var(--color-emerald-darkest);
border-color: var(--color-emerald-darkest);
opacity: 0.6;
}











