/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./navbar.css');
@import url('./header.css');
@import url('./layout.css');
@import url('./feature.css');
@import url('./products.css');
@import url('./gallery.css');
@import url('./reviews.css');
@import url('./contact.css');
@import url('./footer.css');
@import url('./mobile-menu.css');
